<launch>

<!-- <node pkg="input_controller" name="input_controller" type="input_ctrl.py" output="screen" >
</node> -->

<node pkg="input_controller" name="input_controller" type="xbox_controller.py" output="screen" >
</node>

<node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" output="screen" />

</launch>
